<div class="titlecontainer">
    <h1>
      Anonymous
    </h1>
</div>
<table>
    <tr class="topiclistheader">
      <td class="topictitleheader">Topic Title</td>
      <td class="postsheader">Posts</td>
      <td class="lastpostheader">Last Post</td>
    </tr>
    <tr *ngFor="let topic of topics">
      <td class="topicitemtitle">{{ topic.title }}</td>
      <td class="topicnumposts">{{ topic.numposts }}</td>
      <td class="topiclastpost">{{ topic.lastpost }}</td>
    </tr>
    <tr class="topiclistfooter">
        <td colspan="3"></td>
    </tr>
</table>
