<div class="titlecontainer">
  <h1>
    Post Message
  </h1>
</div>
<div class='contentcontainer'>
  <div class='directionscontainer'>
      <p>To create a new post, enter the contents of the post and click submit.</p>
  </div>
  <div class='textareacontainer'>
    <h3>Message Content</h3>
      <textarea [(ngModel)]="postContent"></textarea>
  </div>
  <div class='buttoncontainer'>
    <div class='buttoninnercontainer'>
        <button (click)="submitPost()">Submit Post</button>
    </div>
  </div>
</div>