<div class='topictitlecontainer'>
  <h1>This is the topic title.</h1>
</div>
<div class='buttoncontainer'>
  <button>
    Post Message
  </button>
</div>
<div class='postscontainer'>
  <div class="post">
    <div class="postheader">
      <p>
        From: User382
      </p>
    </div>
    <div class="postcontent">
      <p>
        This is the content of the post. This could be either very short or several paragraphs in length.
      </p>
    </div>
  </div>

  <div class="post">
    <div class="postheader">
      <p>
        From: User382
      </p>
    </div>
    <div class="postcontent">
      <p>
        This is the content of the post. This could be either very short or several paragraphs in length.
      </p>
    </div>
  </div>
</div>
