<div class='topictitlecontainer'>
  <h1>{{ topictitle }}</h1>
</div>
<div class='outerbuttoncontainer'>
    <div class='buttoncontainer'>
      <a routerLink="/">
          <div class="topiclistbutton">
              Topic List
          </div>
      </a>
      <a [routerLink]="'/post/'+topicid">
        <div class='postmessagebutton'>
          Post Message
        </div>
      </a>
    </div>
</div>

<div class='postscontainer'>
  <ng-container *ngIf="!loaded">
    <div class="post">
      <div class="postheader">
      </div>
      <div class="postcontentloading">
        <h1>Loading</h1>
      </div>
      <div class="postfooterloading">
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="loaded">
       <!-- <div class="post"> 
          <div class="postheader">
            <p>
              From: User382
            </p>
          </div>
          <div class="postcontent">
            <p>
              This is the content of the post. This could be either very short or several paragraphs in length.
            </p>
          </div>
        </div>
      
        <div class="post">
          <div class="postheader">
            <p>
              From: User382
            </p>
          </div>
          <div class="postcontent">
            <p>
              This is the content of the post. This could be either very short or several paragraphs in length.
            </p>
          </div>
        </div> -->

        <div *ngFor="let post of posts" class="post">
          <div class="postheader">
            <p class="fromuser">
              <span>From:</span> {{ post.user }}
            </p>
            <p class="date">
              {{ post.date }}
            </p>
          </div>
          <div class="postcontent">
            <p>
              {{ post.content }}
            </p>
          </div>
        </div>
        
        <div class="post">
            <div class="postfooter">
            </div>
        </div>
  </ng-container>
  
</div>
