.titlecontainer{
    text-align:center;
}
.titlecontainer h1{
    font-family:Arial Black;
    font-size:35px;
}
.contentcontainer{
    width:100%;
}
.textareacontainer{
    text-align:center;
}
.textareacontainer textarea{
    width:500px;
    height: 200px;
}
.topictitleinputcontainer{
    width: 100%;
    text-align:center;
    margin-top:50px;
}
.topictitleinputcontainer input{
    width: 500px;
}
.directionscontainer{
    text-align:center;
}
.buttoncontainer{
    width:100%;
    text-align:center;
}
.buttoninnercontainer{
    width:500px;
    text-align:right;
    display:inline-block;
}