<div class="titlecontainer">
  <h1>
    Create New Topic
  </h1>
</div>
<div class='contentcontainer'>
    <div class='directionscontainer'>
        <p>To create a new topic, enter a title for the topic below and create the first message.</p>
    </div>
    <div class='topictitleinputcontainer'>
      <h3>Topic Title</h3>
      <input type='text'>
    </div>
    <div class='textareacontainer'>
      <h3>Message Content</h3>
        <textarea></textarea>
    </div>
    <div class='buttoncontainer'>
      <div class='buttoninnercontainer'>
          <button>Submit Topic</button>
      </div>
    </div>
  </div>